body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.orange-color {
    color: orange;
}

.half-width img {
    width: 70%;

}

.mission2022 {
    display: flex;
    padding-left: 5%;
    font-weight: 700;
    margin-bottom: 100px;

}

.header-border {
    font-size: 30px;
    font-weight: 500;
    border-left: 4px solid red;
    padding-left: 5px;
}

.half-width {
    width: 50%;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(45deg, lightgreen, orange, red);
    padding: 10px 40px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 300;
}

.develop-without-limits {
    display: flex;
    background-image: url("./images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100px;



}

.develop-without-limits-paragraph {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
    font-weight: 700;
    padding-right: 100px;


}

.develop-with-limits-header {
    margin-top: 50px;
}

.header-paragraph {
    margin-bottom: 30px;
    text-align: justify;
    padding-right: 50px;
}

.coding-png {
    margin-left: 40px;

    height: 500px;
}

.know-our-global-community {
    display: flex;
    margin-top: 170px;
    margin-left: 30px;
    background-image: url("./images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 300px 300px;

}

.kmow-our-global-community-paragraph {
    margin-bottom: 20px;
    text-align: justify;
    font-weight: 700;
    padding-right: 150px;

}

footer {
    text-align: center;
    margin-top: 80px;
    background-color: black;
    height: 100px;
    color: white;
    padding-top: 10px;


}

footer h2 {
    font-family: cursive;
}

footer span {
    color: red;
}

.mission-header {
    text-align: center;
    font-size: 50px;
}

.mission {
    width: 350px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: violet;
    text-align: justify;
    box-shadow: 4px 4px 12px gray;
}

.mission img {
    width: 100%;
}

.vission {
    width: 350px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: tomato;
    text-align: justify;
    box-shadow: 4px 4px 12px gray;
}

.vission img {
    width: 100%;
}

.goals {
    width: 350px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: lightgreen;
    text-align: justify;
    box-shadow: 4px 4px 12px gray;

}

.goals img {
    width: 100%;
}

.all-mission-vission {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.bottom-section {
    padding: 15px;
}

.goals-font-weight {
    font-weight: 400;
}

.my-skills {
    display: flex;
}

.skill-flex {
    display: flex;
}

.all-skill {
    margin-top: 170px;
    margin-left: 30px;


}

.skill-header {
    text-align: center;
    color: coral;
    font-size: 50px;
    padding-bottom: 50px;
}

.skill-png {
    border-radius: 10px;
}


.skill-paragraph {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
    font-weight: 700;
    padding-right: 200px;

}